<!doctype html>
<!-- 
  The consent.html displays the text of your IRB-approved
  consent form.  Even if you are not required to provide
  a consent form, it is helpful to use this form to 
  describe what people can do if an error comes up, etc...

-->
<html>
    <head>
        <title>Psychology Experiment - Informed Consent Form</title>
        <link rel=stylesheet href="/static/css/bootstrap.min.css" type="text/css">
        <link rel=stylesheet href="/static/css/style.css" type="text/css">
        <script type="text/javascript">
            function onexit() {
              self.close(); // no harm, no foul here
            }
        </script>
    </head>
    <body>
        <div id="container-consent">
            <div id="consent">
                <h1>We need your consent to proceed</h1>
                <hr>
                <div class="legal well">
                    <p>
                      You have been invited to take part in a research study named SISL authentication task.<br/>
                      Online Perceptual-Motor Skill Learning<br/> 
                      Northwestern University Psychology Department<br/> 
                      (IRB study # STU00037582)<br/> 
                      Investigators: Paul Reber, PhD (Principal Investigator) <br/><br/> 
                      You are being invited to participate in a short study of skill learning.<br/> 
                      Your participation in this study does not involve any physical or emotional risk to you.<br/> 
                      You will be paid $8 for completing the entire research study session.<br/> 
                      Participation is completely voluntary; you may decide not to participate<br/> 
                      and leave the website at any time. No personally identifying information<br/> 
                      is being collected, but the data you provide about skill learning may be used<br/> 
                      in studies examining how people acquire perceptual-motor skills by practicing.<br/> 
                      Any questions you may have about this study may be directed to<br/>
                      Dr. Daniel Sanchez at telephone number (650) 859-3975 or email address<br/> 
                      Daniel.Sanchez@sri.com. Questions about your rights as a research<br/> 
                      subject may be directed to the Office for the Protection of Research<br/> 
                      Subjects at Northwestern Institutional Review Board at (312) 503-9338.<br/><br/> 
                      If you wish to participate in this study, please select “I agree” to begin. <br/> 
                      If you do not wish to participate in this study, please exit the page at any time.
                    </p>

                    <button type="button" class="btn btn-default btn-sm" onClick="window.print();">
                    <span class="glyphicon glyphicon-print"></span> Print a copy of this
                    </button>
                </div>

                <hr>
                <h4>Do you understand and consent to these terms?</h4>
                <br>

                <center>
                    <button type="button" class="btn btn-primary btn-lg" onClick="window.location='/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}'">
                    <span class="glyphicon glyphicon-ok"></span> I agree 
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger btn-lg" onClick="onexit()">
                    <span class="glyphicon glyphicon-ban-circle"></span> No thanks, I do not want to do this HIT
                    </button>
                </center>

            </div>
        </div>
    </body>
</html>

