<div id="container-instructions">

    <h1>Instructions</h1>
    <hr>
    <div class="instructions well">
      <p>
        You will have the full instructions of this particular game in the next page. In a nutshell, you are going to perform a Guitar-Hero like game using your keyboad. Before you start, here is a tip: the speed of the experient will adapt to your performance therefore: the better you will perform, the faster you will complete the hit!
      </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>
    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
